WEATHER_LATITUDE=''
WEATHER_LONGITUDE=''

DOMAIN_PVE=''
PROXMOX_NODE_USERNAME=''
PROXMOX_NODE_PASSWORD=''
PROXMOX_NODE_NAME=''

DOMAIN_PROXMENUX=''
DOMAIN_NETDATA=''

DOMAIN_ADGUARD=''
ADGUARD_USERNAME=''
ADGUARD_PASSWORD=''

CLOUDFLARE_ACCOUNT_ID=''
CLOUDFLARE_TUNNEL_ID=''
CLOUDFLARE_TUNNEL_KEY=''

TAILSCALE_DEVICE_ID=''
TAILSCALE_KEY=''

DOMAIN_FILEBROWSER=''

DOMAIN_SYNCTHING=''

DOMAIN_BENTO=''

DOMAIN_VAULT=''

DOMAIN_FRESHRSS=''
FRESHRSS_PASSWORD=''

DOMAIN_ROMM=''

DOMAIN_TANDOOR=''
TANDOOR_KEY=''

DOMAIN_NAVIDROME=''
NAVIDROME_USER=''
NAVIDROME_TOKEN=''

DOMAIN_PAURIERA=''
DOMAIN_PAURIERA_STATUS=''

DOMAIN_ALPARGATIFY=''
